<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ "/" | relative_url }}">
          {{ site.title }}
        </a>
      </h1>
    </div>
    <div class="linksquares">
      <a href="https://uk.linkedin.com/in/andrew-strange">
          <div class="linksquaresidebar">
              <div class="linksquarecontent">
                  <div class="table">
                      <div class="table-cell">
                          <span text-align="center">X</span>
                      </div>
                  </div>
              </div>
          </div>
      </a>
      <a href="https://github.com/lemming52">
          <div class="linksquaresidebar">
              <div class="linksquarecontent">
                  <div class="table">
                      <div class="table-cell">
                          <span text-align="center">X</span>
                      </div>
                  </div>
              </div>
          </div>
      </a>
      <a href="{{ "/gallery" | relative_url }}">
          <div class="linksquaresidebar {% if page.url == "/gallery" %} active{% endif %}">
              <div class="linksquarecontent">
                  <div class="table">
                      <div class="table-cell">
                          <span text-align="center">X</span>
                      </div>
                  </div>
              </div>
          </div>
      </a>
    </div>
    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
