<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ "/about" | relative_url }}">
          {{ site.title }}
        </a>
      </h1>
    </div>
    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
    <div class="linksquares">
      <a href={{ "/about" | relative_url }}>
          <div class="linksquaresidebar">
              <div class="linksquarecontent">
                  <div class="table">
                      <div class="table-cell">
                          <span text-align="center">X</span>
                      </div>
                  </div>
              </div>
          </div>
      </a>
      <a href={{ "/about" | relative_url }}>
          <div class="linksquaresidebar">
              <div class="linksquarecontent">
                  <div class="table">
                      <div class="table-cell">
                          <span text-align="center">X</span>
                      </div>
                  </div>
              </div>
          </div>
      </a>
      <a href={{ "/about" | relative_url }}>
          <div class="linksquaresidebar">
              <div class="linksquarecontent">
                  <div class="table">
                      <div class="table-cell">
                          <span text-align="center">X</span>
                      </div>
                  </div>
              </div>
          </div>
      </a>
    </div>
  </div>
</div>
