<!DOCTYPE html>
    <html>
        {% include head.html %}
        {% include sidebar.html %}
        <body>
            <div class="gallery_content container">
                <div class="gallery">
                    <div id="mygallery" >
                        {% assign sorted = (site.static_files | sort: 'title') | reverse %}
                        {% for image in sorted %}
                            {% if image.path contains 'img/thumbnails' %}
                                <a href="assets/img/{{ image.name }}">
                                <img src="{{ image.path }}" />
                            </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </body>
        <script type="text/javascript">$("#mygallery").justifiedGallery({
            rowHeight: 240,
            maxHeight:240,
            captions: false,
            margins: 10,
            lastRow: "justify"
        });</script>
    </html>
