<!DOCTYPE html>
    <html>
        {% include head.html %}
        <link rel="stylesheet" href={{ "css/justifiedGallery.min.css" | relative_url }}/>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src={{ "js/jquery.justifiedGallery.min.js" | relative_url }}></script>
        {% include sidebar.html %}
        <body>
            <div class="gallery_content container">
                <div class="gallery">
                    <div id="mygallery" >
                        {% for image in site.static_files %}
                            {% if image.path contains 'img/thumbnails' %}
                                <a href="assets/img/{{ image.name }}">
                                <img src="{{ image.path }}" />
                            </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </body>
        <script type="text/javascript">$("#mygallery").justifiedGallery({
            rowHeight: 240,
            maxHeight:240,
            captions: false,
            margins: 10
        });</script>
    </html>
